In [1]:
import pandas as pd

In [38]:
df = pd.read_csv("amazon_delivery.csv")
df.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,fvtx569193218,31,4.8,21.186608,72.794136,21.246608,72.854136,2022-03-05,18:55:00,19:00:00,Windy,Medium,motorcycle,Metropolitian,170,Electronics
1,viin085856214,21,4.7,0.000000,0.000000,0.090000,0.090000,2022-04-04,22:35:00,22:40:00,Windy,Low,motorcycle,Metropolitian,85,Skincare
2,otyu561756151,20,4.9,19.207222,72.972281,19.267222,73.032281,2022-03-19,23:50:00,23:55:00,Sunny,Low,motorcycle,Urban,90,Electronics
3,xvgi973175898,31,4.8,17.410371,78.437225,17.430371,78.457225,2022-03-24,11:10:00,11:25:00,Cloudy,High,motorcycle,Metropolitian,170,Pet Supplies
4,mmoh356419826,24,4.8,15.561550,73.749092,15.591550,73.779092,2022-02-13,23:50:00,00:00:00,Cloudy,Low,motorcycle,Metropolitian,85,Pet Supplies

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,fvtx569193218,31,4.8,21.186608,72.794136,21.246608,72.854136,2022-03-05,18:55:00,19:00:00,Windy,Medium,motorcycle,Metropolitian,170,Electronics
1,viin085856214,21,4.7,0.000000,0.000000,0.090000,0.090000,2022-04-04,22:35:00,22:40:00,Windy,Low,motorcycle,Metropolitian,85,Skincare
2,otyu561756151,20,4.9,19.207222,72.972281,19.267222,73.032281,2022-03-19,23:50:00,23:55:00,Sunny,Low,motorcycle,Urban,90,Electronics
3,xvgi973175898,31,4.8,17.410371,78.437225,17.430371,78.457225,2022-03-24,11:10:00,11:25:00,Cloudy,High,motorcycle,Metropolitian,170,Pet Supplies
4,mmoh356419826,24,4.8,15.561550,73.749092,15.591550,73.779092,2022-02-13,23:50:00,00:00:00,Cloudy,Low,motorcycle,Metropolitian,85,Pet Supplies

In [50]:
def pick(k = 3):
    return df.sort_values("Order_Date").head(k)
pick(3)

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
1217,upyp867045044,36,5.0,19.878028,75.317475,19.908028,75.347475,2022-02-11,18:35:00,18:45:00,Sunny,Medium,motorcycle,Metropolitian,22,Grocery
1499,yqoy510101575,39,4.7,26.473698,80.352677,26.513698,80.392677,2022-02-11,16:10:00,16:20:00,Sandstorms,Medium,scooter,Metropolitian,145,Shoes
3950,jgjj682777930,24,4.6,23.214294,77.435361,23.254294,77.475361,2022-02-11,13:35:00,13:45:00,Stormy,High,motorcycle,Metropolitian,130,Clothing